@model List<Article>
@{
  Layout = "_AdminLayout";
  ViewData["Title"] = "Articles";
  ViewData["SearchAction"] = "Articles";
  ViewData["NewButton"] = Url.Action("ArticleEdit", new { id = 0 });
}

@section Head {
  <style>
    #link-articles {
      color: #007bff;
    }
  </style>
}

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">User</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Article article in Model)
    {
      <tr onclick="location.href = '@Url.Action("ArticleEdit", new { article.ID })'">
        <th scope="row">@article.ID</th>
        <td>@article.Title</td>
        <td>@article.User.Username</td>
        <td>@string.Join(", ", article.Tags.Select(t => t.Name))</td>
      </tr>
    }
  </tbody>
</table>