@model IEnumerable<Order>
@{
  Layout = "_AdminLayout";
  ViewData["Title"] = "Orders";
  ViewData["SearchAction"] = "Orders";
}

@section Head {
  <style>
    #link-orders {
      color: #007bff;
    }
  </style>
}

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Created</th>
      <th scope="col">Name</th>
      <th scope="col">Shipping Address</th>
      <th scope="col">Sum</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Order order in Model)
    {
      <tr onclick="location.href = '@Url.Action("Order", new { order.ID })'">
        <th scope="row">@order.ID</th>
        <td>@order.Created.ToString()</td>
        <td>@order.FirstName @order.LastName</td>
        <td>@order.ShippingCity, @order.ShippingCountry</td>
        <td>@order.Sum</td>
      </tr>
    }
  </tbody>
</table>