@model IEnumerable<Product>
@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
  ViewData["Title"] = "Products";
}

@section Head {
  <style>
    #link-products {
      color: #007bff;
    }
  </style>
}

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Vendor</th>
      <th scope="col">Color</th>
      <th scope="col">Categories</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Product product in Model)
    {
      <tr>
        <th scope="row">@product.ID</th>
        <td>@product.Name</td>
        <td>@product.Vendor.Name</td>
        <td>@product.Color</td>
        <td>@string.Join(", ", product.Categories.Select(c => c.Name))</td>
        <td>@product.CurrentPrice</td>
      </tr>
    }
  </tbody>
</table>
</table>