@{
  Layout = "_PageLayout";
}

@section Head {
  <link rel="stylesheet" href="~/css/page-header-layout.css" />
  @await RenderSectionAsync("Head", required: false)
}

<div id="image-header" class="py-5 text-center">
  <h1>@ViewData["Header"]</h1>
  @if (@ViewData.ContainsKey("Crumbs")) {
    <text>Home</text>
    @foreach (Crumb crumb in (Crumb[]) @ViewData["Crumbs"])
    {
      <i class="fa-fw fas fa-chevron-right mx-1"></i> <a asp-controller=@crumb.Controller asp-action=@crumb.Action asp-all-route-data=@crumb.Values>@crumb.Title</a> 
    }
  }
</div>

<main class="container">
  @RenderBody()
</main>

@await RenderSectionAsync("Outside", required: false);

@section Scripts {
  @await RenderSectionAsync("Scripts", required: false)
}