@model Product
@{
  ViewData["Header"] = Model.Name;
  ViewData["Title"] = ViewData["Header"];
  ViewData["Crumbs"] = new Crumb[] {
    new Crumb("Product", "List", "Products"),
    new Crumb("Product", "List", Model.Name, new Dictionary<string, string> { {"ID", Model.ID.ToString() } })
  };
}

@section Head {
  <link rel="stylesheet" href="/css/product-detail.css">
}

<div class="row justify-content-between mt-5">
  <div class="col-lg-5">
    <div class="productInfo p-4">
      <div>
        <h1>@Model.Name</h1>
        <div>
          @if (Model.ReviewsCount != 0) {
            <div class="pe-4 d-inline-block">
              @for (int i = 0; i < (int) Model.ReviewsAvg; i++)
              {
                <i class="fa-fw fas fa-star"></i>
              }
            </div>
            <span>@Model.ReviewsAvg.ToString("0.0")</span>
          }
        </div>

        @if (!Model.Discounted) {
          <h2>$@Model.Price.ToString("0.00")</h2>
        }
        else {
          <h2 class="accent">$@Model.CurrentPrice.ToString("0.00") (-@((int) (Model.Discount * 100))%)</h2>
        }

        <div>
          Availability:&nbsp;<span class="accent">@(Model.Stock > 0 ? "In Stock" : "Not available")</span>
        </div>
      </div>
      <hr />
      <p>@Model.Description</p>
      <hr />
      <form asp-action="AddToOrder" class="row align-items-center">
        <input type="number" name="id"  value=@Model.ID hidden />
        <input type="checkbox" name="redirect" hidden />

        <label for="input-count" class="col form-label">Qty:</label>
        <input type="number" name="count" id="input-count" class="form-control col" value=1  min=1 />
        <div class="col-6">
          <button type="submit" class="btn my-button">Add to cart</button>
        </div>
      </form>
      <form asp-action="AddToOrder" class="mt-3 text-center">
        <input type="number" name="id"  value=@Model.ID hidden />
        <input type="number" name="count" value=1 hidden />
        <input type="checkbox" name="redirect" checked hidden />
        <button type="submit" class="btn my-button" id="buy-now-button">Buy now</button>
      </form>
    </div>
  </div>
  
  <div id="product-image-corousel" class="carousel slide col-lg-6" data-bs-ride="carousel">
    <div>
      <div class="carousel-inner">
        @foreach (ProductImage productImage in Model.ProductImages)
        {
          <div class="carousel-item @(productImage.ID == Model.MainProductImage.ID ? "active" : "")">
            <img class="d-block w-100" src=@Url.Action("Get", "Image", new { productImage.Image.ID })
              alt=@productImage.Image.Title>
          </div>
        }
        <a class="carousel-control-prev" href="#product-image-corousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#product-image-corousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
    <div class="productImagesIcons productImageItem carousel-indicators">
      @for (int i = 0; i < Model.ProductImages.Count; i++)
      {
        <img src=@Url.Action("Get", "Image", new { Model.ProductImages[i].Image.ID})
          data-bs-target="#product-image-corousel" data-bs-slide-to=@i
          class="@(Model.ProductImages[i].ID == Model.MainProductImage.ID ? "active" : "")"/>
      }
    </div>
  </div>
</div>

<div class="mt-4 my-tabs">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
      <a class="nav-link" id="nav-shipping-policy-tab" data-bs-toggle="tab" href="#nav-shipping-policy" role="tab" aria-controls="nav-shipping-policy" aria-selected="false">Shipping Policy</a>
    </div>
  </nav>
  <div class="tab-content mt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
      <p>@Model.Description</p>
    </div>
    <div class="tab-pane fade" id="nav-shipping-policy" role="tabpanel" aria-labelledby="nav-shipping-policy-tab">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur repudiandae nisi sed doloremque asperiores exercitationem, temporibus maxime voluptatum alias excepturi cumque cum labore commodi deleniti voluptatibus dolores, nesciunt illum odit?
    </div>
  </div>
</div>